<div class="container">
	<h1>Participantes do Grupo</h1>
	<table class="stripped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Matricula</th>
				<th>Status</th>
			</tr>
		</thead>
		<% @grupo.participantes.each do |p| %>
		<tbody>
			<tr>
				<td><%= p.nome %></td>
				<td><%= p.matricula %></td>

				<% if p.status == false %>
				<td> Não Confirmado </td>
				<% else %>
				<td> Confirmado  </td>
				<% end %>
			</tr>
		</tbody>
		<% end %>
	</table>

	<%= link_to 'Editar', edit_grupo_path(@grupo), class: 'btn #ffffff white' %> |
	<%= link_to 'Voltar', grupos_path,class: 'btn #ffffff white' %>

</div>
