

<div class="container">
	<h1>Editar Participante</h1>
	<%= render 'form', participante: @participante %>
	<br>
	<%= link_to 'Mostrar', @participante, class: 'btn 424242 grey darken-3'%>
	<%= link_to 'Voltar', participantes_path, class: 'btn 424242 grey darken-3' %>
	<br> 
	<br>
	<br>
</div>


