

<div class="container">

	<h1>Criar Participante</h1>
		<%= render 'form', participante: @participante %>
	<br>
	<%= link_to 'Voltar', home_index_path, class: 'btn #424242 grey darken-3' %>

</div>

<br>
